* {
    margin: 0px;
    padding: 0px;

}

.form_submitb{
    FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #FFFFFF;
    BORDER-TOP-STYLE: groove; FONT-STYLE: normal; FONT-FAMILY: verdana;
    BORDER-RIGHT-STYLE: ridge; BORDER-LEFT-STYLE: groove;
    BACKGROUND-COLOR: #AA2808; BORDER-BOTTOM-STYLE: ridge;
}

.form_tfield{
    FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000;
    BORDER-TOP-STYLE: groove; FONT-STYLE: normal; FONT-FAMILY: verdana;
    BORDER-RIGHT-STYLE: ridge; BORDER-LEFT-STYLE: groove;
    BACKGROUND-COLOR: white; BORDER-BOTTOM-STYLE: ridge;
    width:250px;height:20px;padding:2px;
}

.form_tfield_long{
    FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000;
    BORDER-TOP-STYLE: groove; FONT-STYLE: normal; FONT-FAMILY: verdana;
    BORDER-RIGHT-STYLE: ridge; BORDER-LEFT-STYLE: groove;
    BACKGROUND-COLOR: white; BORDER-BOTTOM-STYLE: ridge;
    width:500px;height:20px;padding:2px;
}

#UILabel
{
    font-size:9pt;
    color:gray;
}
body {
    /*background:   url(images/bkgd.gif);*/
    font-size: 13px;
    color: #333336;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {

    color: #AA2808;
}

h1 {
}

h2 {

}

h3 {
}

p, blockquote, ul, ol {
    margin-bottom: 20px;
    line-height: 1.6em;
}

p {
}

blockquote {
}

ul {
}

ol {
}

a {
    text-decoration: underline;
    color: #323B51;
}

a.data {
    text-decoration: underline;
    color: yellow;
}

a:hover {
    color: #FF0000;
    text-decoration: none;

}
a.head{
    text-decoration: none;
    font-size: 14pt;
    font-family: arial;
}


/* Wrapper */

#wrapper {



}

/* Header */

#header {
    /*width: 800px;*/
    width: 90%;
    height: 105px;
    margin: 0 auto;
    /*background: url(images/header.gif) no-repeat left bottom;*/
    background: url(images/header.jpg) no-repeat left bottom;
    border:1px solid #fcda8a;
}

/* Logo */

#logo {
    float:right;
    top:190px;
    padding: 40px 0 0 15px;

}

#logo h1 {
    margin: 0px;
    padding: 0;
    font-family: 'Franklin Gothic Medium';
    font-size: 31px;
    font-weight:lighter;
}

#logo h2 {
    margin: 0px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight:lighter;

    font-family: 'Franklin Gothic Medium';
}

#logo a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Menu */

#menu {
     position:relative;top:-2px;
     height:109px;
     background: url(images/title2.png) no-repeat left bottom;
     border-bottom-width: 1px;
    border-bottom-style: solid;
     border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #fcda8a;
    border-bottom-color: #fcda8a;
}

#menu ul {
    margin: 0;
    padding: 65px 0 0 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    display: inline;
  margin:0 auto;
    color: black;
}

#menu a {
    display: block;
    float:left;
    /*width: 300px;*/
    /* change this percentage when more items are added to main menu */
    width: 23%;
    height: 15px;
   position:relative;top:25px;
    text-align: center;
    text-transform: uppercase;text-decoration:none;
    font-size: 12px;

    color: #fc9503;
    padding:0px 0 0 0;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
}

#menu a:hover, #menu .active a {

    color: maroon;
    font-weight:bold;
}

/* Page */

#page {
    /*width: 800px;*/
    width: 90%;
    margin:0 auto;min-height:520px;
    border:1px solid orange;
    background-color:white;


}

/* Content */

#content {
    position:relative;top:22px;
   /*float:left;*/
    /*width: 480px;*/
    width: 90%;
    padding: 35px 10px 50px 35px;
    text-align:justify;

    font-family: Verdana;

}

#content h1, #content h2, #content h3 {
    margin-bottom: 20px;
    color: gray;
}

#content h1 {
    font-size: 136%;
}

#content h2 {
    font-size: 107%;
}

#content h3 {
    font: 92%;
}

#content ul, #content ol {
    list-style-position: inside;
}

#content .boxed {
    float: left;
    width: 46%;
    padding-right: 2%;
}


/* Sidebar */

#sidebar {
    position:relative; top:15px;left:3px;
    float: left;
    padding: 20px 0px 30px 0px;
    color: #666666;

}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;color: #666666;
}

#sidebar li {
    margin-bottom: 1px;
    padding: 20px 0;color: #666666;
}


#sidebar li li {
    margin: 0;
    padding: 7px 20px;
    border: none;color: #fcda8a;
}

#sidebar h2 {
    padding: 5px 20px;
    border-bottom: 1px solid #fcda8a;
    font-size: 100%;

    color: #666666;
}

#sidebar h3 {
    font-size: 77%;

    color: #666666;
}

#sidebar p {
    margin: 0;
    line-height: normal;

    color: #666666;
}

#sidebar a {
    border: none;
    text-decoration: none;
    color: #666666;
}

#sidebar a:hover {
    text-decoration: underline;
    font-weight: normal;color: #666666;
}
/* Submenu */

#submenu {
}

/* News */

#news {
}

#news a {
    font-size: 80%;
}

/* Footer */

#footer {
    /*width: 800px;*/
    width: 90%;
    margin:0 auto;
    /*background-image: url(images/footer.gif);background-repeat:repeat-y;
    color: #FFFFFF;*/
    border:1px solid #fcda8a;
    font-size: 10px;
}

#footer p {
    margin: 0;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

#footer a {
    text-decoration: none;
    color: #FFFFFF;

}

#footer a:hover {
    text-decoration: none;
}
TABLE.aatable
{
    margin:0 auto;
    font-size:10pt;
    /*width:794px;*/
    width:95%;
    position:relative;left:-31px;
    font-family: arial;

    background-color: gray;
}

TH
{
    font-size:10pt;
    color:black;
    text-align:center;padding:2px;
    background-color: #fefefe;
}


TR
{
}

TD
{
    font-size:9pt;
   text-align:center;padding:2px;
    /*background-color: white;*/
}

#TABLE2
{
    margin:0 auto;
    font-size:10pt;
    width:600px;
    position:relative;left:-31px;
    font-family: arial;
    text-align:center;
    background-color: white;

}

#TH
{
    font-size:10pt;
    color:black;
    text-align:center;padding:2px;
    background-color: white;
}


#TR
{
}

TD2
{
   text-align:center;
}
#note
{
    font-size:7pt;
    color:black;
}


h2.head2{

    width:794px;margin:0 auto;
    position:relative;left:-31px;
    text-align:center;

    font-size: 24pt;
}